# -----------------------------------------------------------------------------
#    Configuration framework test-release en mode agent
# -----------------------------------------------------------------------------
testEnvironment.class = net.codjo.test.release.agent.AgentTestEnvironment
testEnvironment.user = ${defaultTestUser}
testEnvironment.pwd = ${defaultTestUserPassword}
testEnvironment.host = ${serverHost}
testEnvironment.port = ${serverPort}

# -----------------------------------------------------------------------------
#    Configuration Unix (intégration)
# -----------------------------------------------------------------------------
sam.unix.server   = martinique
sam.unix.login    = samexdev
sam.unix.password = samex111
sam.unix.userDir = /AGFAM/DEV/OSI_WEB1/SAM/DAT1/IN
sam.unix.templateDir = /AGFAM/DEV/OSI_WEB1/SAM/DAT1/OUT

# -----------------------------------------------------------------------------
#    Configuration Windows (développement)
# -----------------------------------------------------------------------------
sam.windows.userDir = ./../sam-release-test/src/main/usecase/_ReferentielUtilisateurs
sam.windows.templateDir = ./../sam-release-test/target/templates

vmParameter = -Djava.library.path="${basedir}/sam-gui/target/dll"